DATABASE_URL=postgresql+psycopg://postgres:<password>@localhost:5432/url_production

TEST_DATABASE_URL=postgresql+psycopg://postgres:<password>@localhost:5432/url_test

SECRET_KEY="some key generated"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=<password>
POSTGRES_DB=url_production